
@media (max-width: 1000px) {
  
  .header-right{
    display:none;
  }
  
  .menu-icon{
    display:block;
  }
  
  .main_1 {
    width: 100%;
    margin-bottom: 50px;
  }

  .top{
    width:100%;
    text-align:center;
  }

  .uppertitle{
    font-size:45;
  }
  
  .lowertitle{
    font-size:60;
    padding-left:20px;
  }
  
  .top p{
    font-size:30;
  }
  
  .destination-wrapper{
    flex-direction:column;
    text-align:center;
    margin-left:0px;
  }
  
  .destination-photo{
    width:500px;
    height:500px;
  }
  .response p{
    font-size:20;
    text-align:center;
}

  .response .container{
    text-align:center;
  }
}

/* For Smartphones */
@media (max-width: 670px) {
   .header-left{
     margin-top:15px;
   }
    
   .header-left p{
     font-size:40px;
   }
   
   .menu-icon{
     margin-right:0px;
   }
   
   .main_1 {
    width: 100%;
    margin-bottom: 50px;
  }

  .top{
    width:100%;
    text-align:center;
    padding-left:0px;
  }

  .uppertitle{
    font-size:25;

  }
  
  .lowertitle{
    font-size:30;
    padding-left:10px;
    letter-spacing:18;
  }
  
  .top p{
    font-size:20px;
  }
  
  .btn{
    width:100%;
    font-size:20;
  }
  
  .destination-wrapper{
    flex-direction:column;
    margin-left:0px;
  }
  .destination-photo{
    position:relative;
    width:320px;
    height:320px;
    border: 2px solid #e2a355;
}
  input, textarea{
    width:70%;
  }
  .response-head h1{
    color:#e2a355;
    font-size:30px;
    letter-spacing:5px;
}

  .footer-left {
    display:inline-block;
    margin-left:50;
  }

 .response p{
    font-size:15;
 }
 .footer-right{
   display:none;}
}
