*{
  box-sizing:border-box;
}

/* reset css */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}
  

header{
  height:110px;
  background-color:#e2a355;
  padding:10px;
  
}

.header-left{
  background-color:white;
  float:left;
  margin-top:10;
  border-radius:20px;
}

.header-left p{
  font-size:50px;
  margin:5px 20px;
  color:#e2a355;
}

.header-right{
  float:right;
}

.header-right ul{
  margin-top:25px;
  margin-right:25px;
  color:white;
}

.header-right li{
  float:left;
  margin-left:85px;
  font-size:25px;
}

header span{
  display:none;
}
.menu-icon{
  color:white;
  float:right;
  margin:25px;
  font-size:25px;
}

.clear{
  clear:left;
}

.container{
  max-width:1440px;
  width:100%;
}

a {
  text-decoration: none;
}

.main_1{
  background-image:url(https://www.itseducation.asia/assets/images/article-images/65b0e_2434489.jpg);
  background-size:cover;
  width:100%;
}

.top{
  padding-top:100px;
  padding-left:30px;
  width:50%;
  padding-bottom:50px;
}

.uppertitle{
  font-size:50px;
  letter-spacing:3px;
}

.lowertitle{
  font-size:70px;
  letter-spacing:22px;
}

.fa{
  padding-right:15px;
}

.btn{
  padding: 12px 35px;
  color: black;
  display: block;
  opacity: 0.7;
  border-radius: 4px;
  font-size:28;
  background-color:white;
}

.login-gmail{
  width:300px;
  margin:50 auto;
}

.login-fb{
  width:300px;
  margin:50 auto;
}

.top p{
  margin-top:80;
  font-size:35;
  text-align:center;
}

.btn:hover{
  opacity:1;
}

.main_2-head{
  text-align:center;
  margin:20px 0px 100px 0px;
}

.main_2-head h1{
  color:#e2a355;
  font-size:40;
}

.main_2-head p{
  font-size:20px;
  letter-spacing:1.5px;
}

.destination-wrapper{
  display:flex;
  margin-left:50px;
}

.destination{
  margin:10px;
  flex:auto;
  position:relative;
}

.destination-photo{
  position:relative;
  width:320px;
  height:320px;
  border: 2px solid #e2a355;
}

.destination-title{
  position:absolute;
  top:44%;
  width:100%;
  font-size:35;
  letter-spacing:5px;
  color:white;
  font-weight:bold;
  text-align:center;
}

.showmore {
  margin-top:75px;
  text-align:center;
}

.showmore h1{
  background-color:#e2a355;
  display:inline;
  color:white;
  padding:15px 35px;
  border-radius:30px;
  letter-spacing:5px;
}
.response{
  margin-top:50px;
  margin-left:20px;
}

.response-head{
  text-align:center;
  margin-bottom:30px;
}

.response-head h1{
  color:#e2a355;
  font-size:45px;
  letter-spacing:7px;
}

.response p{
  font-size:20;
}

input, textarea{
  width:400px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  font-size:18px;
  border:1px solid #dee7ec;
}

footer{
  height:110px;
  background-color:#e2a355;
}

.footer-left{
  background-color:white;
  float:left;
  margin-top:20px;
  border-radius:20px;
  margin-left:20px;
  display:inline-block;
}

.footer-left p{
  font-size:50px;
  margin:5px 20px;
  color:#e2a355;
}

.footer-right{
  float:right;
  color:white;
  font-size:30px;
  line-height:110px;
  margin-right:20px;
}
